body
{
    font-family: sans-serif;
    font-size: medium;
}

h1, h2, h3
{
    color: #414042;
    margin-top: 40px;
}
h1, h2
{
    text-transform: uppercase;
}

p{
    margin-bottom: 1.7rem;
    line-height: 1.5;
}


body.klippa img
{
    min-width: 40%;
    max-width: 100%;
}
body.klippa ul.led {
    display: block;
    list-style-type: none;
}
body.klippa ul.led li
{
    display: inline;
    width: auto;
}

body.klippa ul.led li.nr
{
    font-weight: bold;
}
body.klippa ul.led li.namn
{
    font-weight: bold;
}
body.klippa ul.led li.text
{
    display: block;
}

p.copyright
{
    font-style: italic;
    font-size: small;
}


img.logo 
{
    max-width: 100px;
    border: 0;
}

body.klippa a img.logo
{
    display: block;
    max-width: 30px;
    min-width: auto;
    border: 0;
}